/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background-color: rgb(214, 214, 214);
}

header {
    height: 20em;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em;
    position: fixed;
    z-index: 10;

}

==main{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}

.fist {
    width: auto;
    height: 10em;
}

.lollogo {
    width: auto;
    height: 15em;
    padding-left: em;
}

.worldicon {
    width: auto;
    float: right;
    max-height: 7em;
}

.hamburgericon {
    width: auto;
    height: 7em;
    float: right;

}

.video {
    width: 260%;
    height: auto;
    z-index: -1;
    margin: -23%;
}

.lollogo2{
    width: auto;
    height: 40em;
    position: absolute;
    float: none;
    margin: 100% 7% 7%;
    
}
